# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# testing
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma generated client (regenerated on install)
apps/api/node_modules/.prisma/
